<section class="w-7/12 mx-auto">
    <div class="my-2">
        <h1 class="text-main font-sans mb-5 text-2xl pt-10">Forgot password</h1>
        @if (step==1) {
        <form class="pb-20" [formGroup]="verfiy_email" (ngSubmit)="verfiy_email_()"> 
            <label for="email">Email : </label>
            <input formControlName="email" type="email" class="w-full my-2 rounded-md" id="email">
            @if (verfiy_email.get('email')?.errors && (verfiy_email.get('email')?.touched || verfiy_email.get('email')?.dirty) ) {
            <div class="my-2 p-2 rounded-md  bg-red-200 shadow-red-500">
                @if (verfiy_email.get('email')?.getError('required')) {<p>email is required</p>}
                @if (verfiy_email.get('email')?.getError('email')) {<p>must be vaid</p>}
                
            </div>
            }
            @if (is_error) {<p class="bg-red-200 p-3 font-monospace rounded-md">{{msg_err_email}}</p>}
            <button [disabled]="verfiy_email.invalid || is_submit"  class="btn-main block ms-auto mt-2">Forgot password @if (is_loading) {<i class="fa fa-spin fa-spinner"></i>}  </button>
            
        </form>
        }

        @if (step==2) {
        <form class="pb-20" [formGroup]="verfiy_code" (ngSubmit)="verfiy_code_()">
           <div class="flex  items-center justify-between">
               <label for="reset code">reset code : </label>
               @if (rest_msg) {<p class="bg-green-300 p-2 rounded-md w-1/2 ">{{rest_msg}}</p>}
            </div>
            <input formControlName="resetCode" type="text" class="w-full my-2 rounded-md" id="reset code">
            @if (verfiy_code.get('resetCode')?.errors && (verfiy_code.get('resetCode')?.touched || verfiy_code.get('resetCode')?.dirty)) {
            <div class="my-2 p-2 rounded-md  bg-red-200 shadow-red-500">
                @if (verfiy_code.get('resetCode')?.getError('required')) {<p>reset code is required</p>}
                @if (verfiy_code.get('resetCode')?.getError('pattern')) {<p>must be vaid</p>}
                
            </div>
            }
            @if (is_error) {<p class="bg-red-200  p-3 rounded-md">{{msg_err_code}}</p>}
            <button [disabled]="verfiy_code.invalid || is_submit" class="btn-main block ms-auto mt-2">Reset code @if (is_loading) {<i class="fa fa-spin fa-spinner"></i>}</button>
        </form>
        }

        @if (step==3) {
        <form class="pb-20" [formGroup]="updata_password" (ngSubmit)="updata_password_()">
            <div>
                <label for="email">Email : </label>
                <input readonly formControlName="email" type="email" class="w-full my-2 rounded-md" id="email">
            </div>

            @if (updata_password.get('email')?.errors  && (updata_password.get('email')?.touched || updata_password.get('email')?.dirty)) {
            <div class="my-2 p-2 rounded-md  bg-red-200 shadow-red-500">
                @if (updata_password.get('email')?.getError('required')) {<p>email is required</p>}
                @if (updata_password.get('email')?.getError('email')) {<p>must be vaid</p>}
            </div>
            }

            <div>
                <label for="password">new password : </label>
                <input formControlName="newPassword" type="password" class="w-full my-2 rounded-md" id="password">
            </div>
            @if (updata_password.get('newPassword')?.errors && (updata_password.get('newPassword')?.touched || updata_password.get('newPassword')?.dirty))  {
            <div class="my-2 p-2 rounded-md  bg-red-200 shadow-red-500">
                    @if (updata_password.get('newPassword')?.getError('required')) {<p>newPassword is required</p>}
                    @if (updata_password.get('newPassword')?.getError('pattern')) {<p>password at last 6 digits</p>}
            </div>
            }


            @if (is_error) {<p class="bg-red-200 p-3 rounded-md">{{msg_err_reset}}</p>}
            <button [disabled]="updata_password.invalid || is_submit" class="btn-main block ms-auto mt-2">Submit @if (is_loading) {<i class="fa fa-spin fa-spinner"></i>}</button>
        </form>

        }
    </div>
</section>