<section class="py-12">
    <div class="container   m-auto">
        <div class="flex p-3 px-10 justify-between">
            <h1 class="font-medium text-2xl">All products</h1>
            <div class="text-center w-[50%]">
                <input [(ngModel)]="term" placeholder="search with title....." type="text" class="w-full  rounded-md "
                    name="" id="">
            </div>
        </div>
        <div class="flex w-[95%]   max-md:w-[90%] py-5 mx-auto flex-wrap ">
            @for (product of products ; track $index) {

            <div
                class=" p-3 cursor-pointer group relative  flex flex-wrap flex-column justify-between   lg:w-2/12 md:w-3/12 sm:w-4/12 w-6/12 product">
                <img [src]="product?.imageCover" class="w-full" alt="">
                <h2 class="text-main py-1">{{product.category.name}}</h2>
                <p class="font-black pt-1 pb-2">{{product.slug.split("-",3).join("-")}}</p>
                <div class="flex justify-between g-1">
                    <span>{{product.price}} EGP</span>
                    <span>@for (item of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {<i
                            class="text-yellow-300 fa fa-star"></i>}{{product.ratingsAverage}}</span>
                </div>
                <div class=" absolute top-[50%] w-[90%] m-auto  p-3 hidden group-hover:flex justify-evenly items-center  text-white">
                    <span class="bg-white group/1: hover:border-green-700    p-1 hover:border border-1  border"><i [routerLink]="['/details',product._id]" title="show details"class="fa text-green-600 fa-eye"></i></span>
                    <span class="bg-white group/2: hover:border-green-700   p-1 hover:border border-1  border"><i title="add to wishlist" (click)="add_to_wishlist(product._id)" class="fa fa-heart   text-green-600"></i></span>
                    <span class="bg-white group/3: hover:border-green-700   p-1 hover:border border-1  border"> <i title="add to cart" (click)="add_to_cart(product._id)" class="fa-solid fa-cart-shopping    text-green-600"></i></span>
                </div>
            </div>


            }
            @empty {
                <h1 class="font-bold text-2xl">NO products in this catagory</h1>
            }
        </div>


    </div>
    

<nav class=" p-2  text-center" aria-label="Page navigation example">
  <ul class="inline-flex  mt-2 -space-x-px text-sm">
    <li class="p-1" >
      <a (click)="getProduct1();changeStyle()" class="flex  cursor-pointer items-center justify-center px-3 h-8 ms-0 leading-tight text-main bg-gray-800 font-bold border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    <li class="p-1">
      <a #a1 (click)="getProduct(1);changeStyle()"  class="flex cursor-pointer   items-center justify-center px-3 h-8 leading-tight text-main  font-bold border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
    </li>
    <li class="p-1">
      <a #a2 (click)="getProduct(2);changeStyle()" class="flex  cursor-pointer items-center justify-center px-3 h-8 leading-tight text-main bg-gray-800 font-bold border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
    </li>
    <li class="p-1">
      <a (click)="getProduct1();changeStyle()" class="flex  cursor-pointer items-center justify-center px-3 h-8 leading-tight text-main bg-gray-800 font-bold border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
    </li>
  </ul>
</nav>
<!-- <nav aria-label="Page navigation example">
  <ul class="inline-flex -space-x-px text-base h-10">
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
    </li>
    <li>
      <a href="#" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
    </li>
  </ul>
</nav> -->

</section>